### Exploring Automated SSH Cyber Attacks

We'll take a look at some cyber security data gathered by a SSH honeypot. SSH is a protocol for connecting to remote servers on a network, which in this case is the internet. 

Dataset can be found here: https://www.kaggle.com/lako65/ssh-brute-force-ipuserpassword

Lets go ahead and take a look at our dataset

In [8]:
import pandas as pd
attacks_df = pd.read_json('/home/anferneejervis/brute_force_data.json', orient='records')
attacks_df.head()

,foreign_ip,passwords,timestamp,username
0,109.87.224.151,"[      , albert, 123456]",2018-11-05 08:31:18,albert
1,122.226.181.166,"[digi, daddy913, covergirl]",2018-11-05 22:16:56,root
2,42.7.27.166,"[qwerty11, qwerty12, qweqweqwe, qwer`123, qwer...",2018-11-05 07:18:16,root
3,125.65.42.181,"[123456, root, password]",2018-11-03 19:30:58,root
4,61.184.247.12,"[lomtjjz, lolita, jake1996]",2018-11-05 08:53:41,root

In [4]:
attacks_df.count()

foreign_ip    14795
passwords     14795
timestamp     14795
username      14795
dtype: int64

Interesting! So we have the attack location via IP address, the time it occurred and the username/password combinations used for the attack. This dataset can give us some insights on what attackers use often (and what you probably should avoid!)

Pay attention to the values in the passwords field. You'll notice that they are in a list format. Data formatted like this isn't intuitive for analytics. Think of it this way: each list is like a table and you end up with a table within a table. Data formatted like this can confuse some querying functions. Lets fix this first.


It might take a while...

In [9]:
import copy

attack_rows = attacks_df.to_dict(orient='records')

attacks_flattened_df = list()
for row in attack_rows:
  if isinstance(row['passwords'], list):
    for pw in row['passwords']:
      
      # We're gonna copy each row and modify the copy so we don't screw up the original
      r = copy.copy(row)
      r['password'] = pw
      attacks_flattened_df.append(r)
  else:
    attacks_flattened_df.append(row)

In [10]:
# we dont need the passwords list anymore. Lets remove it
attacks_flattened_df = pd.DataFrame(attacks_flattened_df)
attacks_flattened_df = attacks_flattened_df.drop(columns="passwords")
attacks_flattened_df.head()

        foreign_ip  password           timestamp username
0   109.87.224.151         2018-11-05 08:31:18   albert
1   109.87.224.151    albert 2018-11-05 08:31:18   albert
2   109.87.224.151    123456 2018-11-05 08:31:18   albert
3  122.226.181.166      digi 2018-11-05 22:16:56     root
4  122.226.181.166  daddy913 2018-11-05 22:16:56     root

Lets do some analytics. Looking at our data, we can see that the variables of interest (basically all the variables, except maybe timestamps), are categorical types. Therefore, it would not necessarily help to get the mean, std, percentile, etc for our dataset.

We can still try it and see for the fun of it.

In [11]:
attacks_flattened_df.describe()

           foreign_ip password            timestamp username
count           53756    53756                53756    53756
unique            303    22736                14251      441
top     116.31.116.42   123456  2018-11-06 23:07:44     root
freq             8329      469                   12    52124
first             NaN      NaN  2018-11-03 19:30:58      NaN
last              NaN      NaN  2018-11-07 14:17:33      NaN

### Popular passwords used

To get an idea of what passwords were common, we can use a popular data querying function called *Groupby*.

In [18]:
attacks_flattened_df.groupby(['password']).count().reset_index().sort_values('foreign_ip', ascending=False)

           password  foreign_ip  timestamp  username
1064         123456         469        469       469
15818      password         447        447       447
0                         423        423       423
17602          root         416        416       416
20568        ubuntu         410        410       410
17636       root123         405        405       405
7780     centos6svm         387        387       387
15861      passwrod         353        353       353
5395          admin         108        108       108
16954        qwerty          68         68        68
924             123          65         65        65
1022           1234          64         64        64
2189       1q2w3e4r          62         62        62
19848          test          62         62        62
1048          12345          61         61        61
20203          toor          58         58        58
781          111111          58         58        58
1099       12345678          57         57        57
7849       changeme          56         56        56
17271        redhat          56         56        56
1105      123456789          56         56        56
2255       1qaz2wsx          55         55        55
980          123123          54         54        54
15796      passw0rd          53         53        53
5104         abc123          53         53        53
727          102030          51         51        51
8898        default          51         51        51
19860       test123          50         50        50
20567          ubnt          49         49        49
5531      admin@123          48         48        48
...             ...         ...        ...       ...
11175      hooters1           1          1         1
11161      honey143           1          1         1
11162        honey2           1          1         1
11163       honey21           1          1         1
2831         292929           1          1         1
11165     hongganju           1          1         1
11166       hongjie           1          1         1
2830          29201           1          1         1
11168  hongkong@123           1          1         1
11169     hongsheng           1          1         1
11170        honore           1          1         1
11171      hoochie1           1          1         1
11173        hooray           1          1         1
11174       hooters           1          1         1
2828       29121980           1          1         1
11192      horsemen           1          1         1
11177        hoover           1          1         1
11178       hope123           1          1         1
11179      hopehope           1          1         1
11180      hopeless           1          1         1
2827       29111990           1          1         1
11182      hopkins1           1          1         1
11183        horace           1          1         1
11184         horde           1          1         1
2826         291090           1          1         1
11186      horlicks           1          1         1
2824       29091991           1          1         1
11189        horney           1          1         1
11190         horny           1          1         1
11368       icecube           1          1         1

[22736 rows x 4 columns]

Cool! Now we know the commonly used passwords for attacks. Should definitely avoid those. Thats not enough though. There are still over 27k unique passwords, and our table doesn't necessarily help. We don't want have to look at all 27k passwords to know which ones we shouldn't use. Wouldn't it be great if you can know how secure a password might be?

We can probably do that.

To predict the secureness of passwords, we would need a model that predicts the likeliness of the password being used by the attackers. To do this, we need to find features for our passwords, then apply a machine learning algorithm that will train a model using our data